.titleBar {
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--primary-red);
}

.linkBtn {
  margin: 0 0.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--secondary-red);
}

.detailsContainer {
  margin-top: 3rem;
  border: 2px solid var(--secondary-red);
  background-color: var(--card-bg-color);
  color: #fff;
  width: 900px;
  height: 450px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.titulo {
  font-family: var(--alegreya-font);
  font-size: x-large;
  color: var(--secondary-red);
}
.data {
  font-family: var(--alegreya-font);
  font-size: 20px;
}
.image {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);
}
