p {
  color: black;
  font-weight: 600;
}

h3 {
  margin: 0.25rem 0;
}

h4 {
  margin: 0.2rem 0;
}

.imgContainer {
  height: 180px;
  overflow: hidden;

  /* object-fit: cover; */
}
.imgContainer img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 5px;
}
