.searchBar {
  margin-right: 0.5rem;
}

.searchBtn {
  border: none;
  padding: 0.2rem 0.3rem;
  color: rgb(95, 2, 2);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
}
